<h1>一覧ページ</h1>
	
<div class="ice-container">
  <div class="ice-content">
    <%= form_tag({controller:"lessons",action:"index"}, method: :get ,class: "form1") do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索する'  %>
    <% end %>

    <%= link_to "新規投稿へ", new_lesson_path %>
    <% @lessons.each do |t| %>
      <div class="ice-box">

        <%= t.jugyou %>
        <%= t.youbi %>
        <%= t.repo %>
        <%= link_to "詳細へ", lesson_path(t.id) %>
        <%= button_to "削除する", lesson_path(t.id), method: :delete %>
        <h4>単位の取りやすさ</h4>
        
        <span class="star-rating">
          <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
        </span>
        <br>
        <br>
        <h4>分かりやすさ</h4>
        <span class="star-rating">
          <span class="star-rating-front" style="width: <%= getPercent(t.level) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
        </span>
      </div>
    <% end %>
  </div>
</div>